@font-face {
  font-family: GTWalsheim;
  src: url("../fonts/gt-walsheim-medium-web.eot");
  src: url("../fonts/gt-walsheim-medium-web-.eot#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-medium-web.woff") format("woff"), url("../fonts/gt-walsheim-medium-web.ttf") format("truetype"), url("../fonts/gt-walsheim-medium-web.svg#da30c6e928b2aaaaff2ef00b42acad02") format("svg");
  font-style: normal;
  font-weight: 500
}
@font-face {
  font-family: GTWalsheim;
  src: url("../fonts/gt-walsheim-web.eot");
  src: url("../fonts/gt-walsheim-web-.eot#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-web.woff") format("woff"), url("../fonts/gt-walsheim-web.ttf") format("truetype"), url("../fonts/gt-walsheim-web.svg#44a74c0cd1a25c9fbb772510f69829a1") format("svg");
  font-style: normal;
  font-weight: 400
}