{% extends './_layout.twig' %}

{% set title = 'Bookmarks' %}

{% block content %}
    <main>
        {# SECTION WORD OF THE DAY #}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns pd-t2 title__underlined">
                    <div class="column pd0">
                        <div class="level">
                            <h1 class="text ft-1 is-tertiary title is-size-5-desktop is-size-4-tablet is-size-5-mobile has-text-left">
                                Bookmarks
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column pd0">
                        <ul class="text ft-2 pd-t2">
                            {% for word in words %}
                                <li class="pd-b1">
                                    <div class="level is-mobile">
                                        <a href="/definition?word={{ word.name }}" class="level-left">
                                            <span class="text is-secondary is-capitalized">{{ word.name }}</span>
                                        </a>
                                        <div class="level-right">
                                            <a href="/write?word={{ word.name }}" class="icon-small icon-small__primary icon-pen mg-r1">
                                                <span class="dblock"></span>
                                            </a>
                                            <div class="icon-small icon-small__primary icon-bookmark icon-bookmark">
                                                <span class="dblock"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}