{% extends './_layout.twig' %}

{% set title = 'Definition' %}

{% block content %}
    <main>
        {# SECTION DEFINITION #}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns title__word-title is-vcentered pd-t2">
                    <div class="column pd0">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <h3 class="title">
                                    <p class="word-definiton is-hidden">{{ words[0].name }}</p>
                                    <span id="wordFirst" class="text ft-3 is-size-1 is-primary"></span>
                                    <span id="wordSecond" class="text ft-2 is-secondary"></span>
                                </h3>
                            </div>
                            <div class="level-right">
                                <div class="icon-small icon-small__secondary icon-pen mg-r1">
                                    <span class="dblock"></span>
                                </div>
                                <div class="icon-small icon-small__secondary icon-bookmark">
                                    <span class="dblock"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for word in words %}
                <div class="columns post pd-t3">
                    <div class="column pd0">
                        <div class="level post__author">
                            <div class="level-left text ft-1">
                                <span>Posted by</span>
                                <span class="bold text is-primary">{{ word.firstname }} {{ word.lastname }}</span>
                            </div>
                        </div>
                        <div class="level post__content text ft-2">
                            <p>{{ word.definition }}</p>
                        </div>
                        <div class="level">
                            <div class="level-left">
                                <button class="button button__action button__action__like active bdr pd-l2 pd-r2 mg-r1">
                                    <span class="button__action__number text ft-1 ">12</span>
                                    <span class="text ft-1">Likes</span>
                                </button>
                                <button class="button button__action button__action__dislike bdr pd-l2 pd-r2">
                                    <span class="button__action__number text ft-1 ">3</span>
                                    <span class="text ft-1">Likes</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}