{% extends './_layout.twig' %}

{% set title = 'Modifier le profil' %}

{% block content %}
    <main>
        {# SECTION SIGNUP #}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns pd-t2 title__underlined">
                    <div class="column pd0">
                        <div class="level">
                            <h1 class="text ft-1 is-tertiary title is-size-5-desktop is-size-4-tablet is-size-5-mobile has-text-left">
                                Modifier profil
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="columns pd-t2">
                    <div class="column pd0">
                        <div class="level">
                            <p class="text ft-2 is-secondary">
                                Pour pouvoir donner une définition et sauvegarder des mots, vous devez d’abord vous
                                inscrire.
                            </p>
                        </div>
                    </div>
                </div>
                <form action="/signup" method="POST">
                    <div class="columns">
                        <div class="column">
                            <div class="level is-mobile">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__form input--hoshi over-hide">
                                        <input id="input-search-lastname"
                                               class="input__field input__field--hoshi text is-secondary is-size-6"
                                               type="text" value="{{ user.lastname }}"/>
                                        <label for="input-search-lastname"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-secondary">Nom</span>
                                        </label>
                                    </span>
                                </div>
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__form input--hoshi over-hide">
                                        <input id="input-search-firstname"
                                               class="input__field input__field--hoshi text is-secondary is-size-6"
                                               type="text" value="{{ user.firstname }}"/>
                                        <label for="input-search-firstname"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-secondary">Prénom</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="level is-mobile">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__form input--hoshi over-hide">
                                        <input id="input-search-email"
                                               class="input__field input__field--hoshi text is-secondary is-size-6"
                                               type="email" value="{{ user.email }}"/>
                                        <label for="input-search-email"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-secondary">Email</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="level is-mobile">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__form input--hoshi over-hide">
                                        <input id="input-search-oldpassword"
                                               class="input__field input__field--hoshi text is-secondary is-size-6"
                                               type="password"/>
                                        <label for="input-search-oldpassword"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-secondary">Ancien mot de passe</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="level is-mobile">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__form input--hoshi over-hide">
                                        <input id="input-search-newpassword"
                                               class="input__field input__field--hoshi text is-secondary is-size-6"
                                               type="password"/>
                                        <label for="input-search-newpassword"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-secondary">Nouveau mot de passe</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="level is-mobile">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__form input--hoshi over-hide">
                                        <input id="input-search-renewpassword"
                                               class="input__field input__field--hoshi text is-secondary is-size-6"
                                               type="password"/>
                                        <label for="input-search-renewpassword"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-secondary">Confirmer le nouveau mot de passe</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns pd-t2">
                        <div class="column">
                            <div class="level  is-mobile">
                                <a class="mauto-w" href="#">
                                    <button class="button button__redirect text ft-2" type="submit">Modifier</button>
                                </a>
                            </div>
                            <div class="level">
                                <div class="level-item">
                                    <p class="text ft-1 is-size-7 has-text-centered">
                                        Si vous ne souhaitez pas modifier votre profil,
                                        vous pouvez revenir à <a href="/" class="text is-primary">l’accueil</a>
                                        ou vous pouvez aussi vous <a href="/disconnect" class="text is-primary">déconnecter</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}