{% extends './_layout.twig' %}

{% set title = 'Research' %}

{% block content %}
    <main>
        {# SECTION RESEARCH #}
        <section id="search-section" class="section">
            <div class="container">
                <div class="columns background bdr is-tertiary">
                    <div class="column">
                        <div class="level">
                            <div class="level-item">
                                <h1 class="text ft-1 is-white title is-size-5-desktop is-size-4-tablet is-size-5-mobile">
                                    Rechercher une définition
                                </h1>
                            </div>
                        </div>
                        <form action="/research">
                            <div class="level">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__search input--hoshi over-hide">
                                        <input id="input-search"
                                               class="input__field input__field--hoshi text is-white is-size-6"
                                               type="text" name="word" required value="{{ word.name }}"/>
                                        <label for="input-search"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-white">Rechercher</span>
                                        </label>
                                    </span>
                                    <button type="submit" class="icon-small icon-small__white icon-search">
                                        <span class="dblock"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {# SECTION SEARCH RESULTS#}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns title__underlined">
                    <div class="column pd0">
                        <div class="level">
                            <h2 class="text ft-1 is-tertiary title is-size-5-desktop is-size-4-tablet is-size-5-mobile has-text-left">
                                Résultats de recherche
                            </h2>
                        </div>
                    </div>
                </div>
                {% if name is defined %}
                <div class="columns">
                    <div class="column pd0">
                        <ul class="text ft-2 pd-t2">
                            <li class="pd-b1">
                                <div class="level is-mobile">
                                    <a href="/definition?word={{ name.name }}" class="level-left">
                                        <span class="text is-secondary is-capitalized">{{ name.name }}</span>
                                    </a>
                                    <div class="level-right">
                                        <a href="/write?word={{ name.name }}"
                                           class="icon-small icon-small__primary icon-pen mg-r1">
                                            <span class="dblock"></span>
                                        </a>
                                        <div class="icon-small icon-small__primary icon-bookmark">
                                            <span class="dblock"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}