{% extends './_layout.twig' %}

{% set title = 'Homepage' %}

{% block content %}
    <main>
        {# SECTION RESEARCH #}
        <section id="search-section" class="section">
            <div class="container">
                <div class="columns background bdr is-tertiary">
                    <div class="column">
                        <div class="level">
                            <div class="level-item">
                                <h1 class="text ft-1 is-white title is-size-5-desktop is-size-4-tablet is-size-5-mobile">
                                    Rechercher une définition
                                </h1>
                            </div>
                        </div>
                        <form>
                            <div class="level">
                                <div class="level-item p-rel">
                                    <span class="input-custom input-custom__search input--hoshi over-hide">
                                        <input id="input-search"
                                               class="input__field input__field--hoshi text is-white is-size-6"
                                               type="text" name="search"/>
                                        <label for="input-search"
                                               class="input__label input__label--hoshi input__label--hoshi-color-1">
                                            <span class="input__label-content input__label-content--hoshi text ft-1 is-white">Rechercher</span>
                                        </label>
                                    </span>
                                    <button type="submit" class="icon-small icon-small__white icon-search">
                                        <span class="dblock"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {# SECTION DEFINITION OF THE DAY #}
        <section class="section pd-t1">
            <div class="container">
                <div class="columns title__underlined">
                    <div class="column pd0">
                        <div class="level">
                            <h2 class="text ft-1 is-tertiary title is-size-5-desktop is-size-4-tablet is-size-5-mobile has-text-left">
                                Donner une définition
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="columns title__word-title is-vcentered pd-t2">
                    <div class="column pd0">
                        <div class="level is-mobile">
                            <div class="level-left">
                                <h3 class="title">
                                    <span class="text ft-3 is-size-1 is-primary">I</span>
                                    <span class="text ft-2 is-secondary">tération</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns pd-t3">
                    <div class="column pd0">
                        <div class="level">
                            <textarea class="textarea" name="definition" id="" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="columns pd-t2">
                    <div class="column">
                        <div class="level  is-mobile">
                            <a class="mauto-w" href="/signup">
                                <button class="button button__redirect text ft-2" type="submit">Créer définition
                                </button>
                            </a>
                        </div>
                        <div class="level">
                            <div class="level-item">
                                <p class="text ft-1 is-size-7 has-text-centered">
                                    Si vous ne souhaitez pas créer de nouvelle définition,
                                    vous pouvez revenir à <a href="/" class="text is-primary">l’accueil</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}