%svg-common {
	background: url("../svg/sprite.svg") no-repeat;
}

.svg-assets--sprites--bookmark-primary {
	@extend %svg-common;
	background-position: 41.1764705882353% 99.79166666666667%;
}

.svg-assets--sprites--bookmark-primary-dims {
	width: 14px;
	height: 19px;
}

.svg-assets--sprites--bookmark-white {
	@extend %svg-common;
	background-position: 75% 40.625%;
}

.svg-assets--sprites--bookmark-white-dims {
	width: 14px;
	height: 19px;
}

.svg-assets--sprites--bookmarked-primary {
	@extend %svg-common;
	background-position: 0 99.79166666666667%;
}

.svg-assets--sprites--bookmarked-primary-dims {
	width: 14px;
	height: 19px;
}

.svg-assets--sprites--bookmarked-white {
	@extend %svg-common;
	background-position: 20.58823529411765% 99.79166666666667%;
}

.svg-assets--sprites--bookmarked-white-dims {
	width: 14px;
	height: 19px;
}

.svg-assets--sprites--dislike-white {
	@extend %svg-common;
	background-position: 45.42253521126761% 0;
}

.svg-assets--sprites--dislike-white-dims {
	width: 25.2px;
	height: 22.5px;
}

.svg-assets--sprites--home-primary {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-assets--sprites--home-primary-dims {
	width: 25.8px;
	height: 25.4px;
}

.svg-assets--sprites--pen-primary {
	@extend %svg-common;
	background-position: 40.32% 53.473684210526315%;
}

.svg-assets--sprites--pen-primary-dims {
	width: 19.5px;
	height: 19.5px;
}

.svg-assets--sprites--pen-white {
	@extend %svg-common;
	background-position: 81.6% 0;
}

.svg-assets--sprites--pen-white-dims {
	width: 19.5px;
	height: 19.5px;
}

.svg-assets--sprites--search-primary {
	@extend %svg-common;
	background-position: 99.29577464788733% 0;
}

.svg-assets--sprites--search-primary-dims {
	width: 11px;
	height: 11px;
}

.svg-assets--sprites--thumbs-up-white {
	@extend %svg-common;
	background-position: 0 57.07865168539326%;
}

.svg-assets--sprites--thumbs-up-white-dims {
	width: 25.2px;
	height: 22.5px;
}

.svg-assets--sprites--user-primary {
	@extend %svg-common;
	background-position: 65.625% 97.75510204081633%;
}

.svg-assets--sprites--user-primary-dims {
	width: 18px;
	height: 18px;
}

